body{
    height: 100%;
    width: 100%;
    padding: 20,20,20,20;
    margin: 20,20,20,20;
    color: white;	
    position: absolute; 
    top: 0; left: 0;

}
#console{
	background : black;
	color: white;
	position:relative;
	
	border: 3px solid green;
    width: 100%;
    height: 100%;
}